<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Главная страница</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/mainpage.css}" rel="stylesheet">
</head>

<body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-4481610-59', 'auto');
    ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter39705265 = new Ya.Metrika({
                id: 39705265,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks"); </script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/39705265" style="position:absolute; left:-9999px;" alt="Yandex.Metrika"/>
    </div>
</noscript> <!-- /Yandex.Metrika counter -->


<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1">Главная страница</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ФИО пациента</th>
                        <th>Дата рождения</th>
                        <th>Пол</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${patients.empty}">
                        <td colspan="2"> No patients found</td>
                    </tr>
                    <tr th:each="patient : ${patients}">
                        <td>
                            <span th:text="${patient.fio}"></span>
                        </td>
                        <td>
                            <small th:text="${#dates.format(patient.birthDate, 'yyyy.MM.dd')}"> text</small>
                        </td>
                        <td>
                            <span th:text="${patient.gender}"></span>
                        </td>
                        <td><a th:href="@{patient/edit/{id}(id=${patient.id})}">Edit</a></td>
                        <td>
                            <span><a th:href="@{patient/delete/{id}(id=${patient.id})}">Delete</a></span>
                        </td>
                    </tr>
                    </tbody>
                    <span><a th:href="@{patient/addPatient}">Create new patients</a></span>
                </table>

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ФИО доктора</th>
                        <th>Должность</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${doctors.empty}">
                        <td colspan="2"> No couponToSeeADoctors found</td>
                    </tr>
                    <tr th:each="doctor : ${doctors}">
                        <td>
                            <span th:text="${doctor.fio}"></span>
                        </td>
                        <td>
                            <span th:text="${doctor.position}"></span>
                        </td>
                        <td><a th:href="@{doctor/edit/{id}(id=${doctor.id})}">Edit</a></td>
                        <td>
                            <span><a th:href="@{doctor/delete/{id}(id=${doctor.id})}">Delete</a></span>
                        </td>
                    </tr>
                    </tbody>
                    <span><a th:href="@{doctor/addDoctor}">Create new couponToSeeADoctors</a></span>
                </table>

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Время</th>
                        <th>Номер купона</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${coupons.empty}">
                        <td colspan="2"> No coupons found</td>
                    </tr>
                    <tr th:each="coupon : ${coupons}">
                        <td>
                            <span th:text="${coupon.dateOfAppointment}"></span>
                        </td>
                        <td>
                            <span th:text="${coupon.timeOfIssue}"></span>
                        </td>
                        <td>
                            <span th:text="${coupon.numberOfCoupon}"></span>
                        </td>
                        <td><a th:href="@{coupon/edit/{id}(id=${coupon.id})}">Edit</a></td>
                        <td>
                            <span><a th:href="@{coupon/delete/{id}(id=${coupon.id})}">Delete</a></span>
                        </td>
                    </tr>
                    </tbody>
                    <span><a th:href="@{coupon/addCoupon}">Create new coupon</a></span>
                </table>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ФИО пациента</th>
                        <th>Дата рождения</th>
                        <th>Пол</th>
                        <th>Дата записи</th>
                        <th>Времени записи</th>
                        <th>Номер купона</th>
                        <th>ФИО доктора</th>
                        <th>Должность</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${patientsWithCoupon.empty}">
                        <td colspan="2"> No records found</td>
                    </tr>
                    <tr th:each="patient : ${patientsWithCoupon}">
                        <td>
                            <span th:text="${patient.fio}"></span>
                        </td>
                        <td>
                            <small th:text="${#dates.format(patient.birthDate, 'yyyy.MM.dd')}"> text</small>
                        </td>
                        <td>
                            <span th:text="${patient.gender}"></span>
                        </td>
                        <td>
                            <ul th:each="coupon : ${patient.couponToSeeADoctors}">
                                <li>
                                    <small th:text="${#dates.format(coupon.dateOfAppointment, 'yyyy.MM.dd')}"> text
                                    </small>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul th:each="coupon : ${patient.couponToSeeADoctors}">
                                <li>
                                    <small th:text="${#dates.format(coupon.timeOfIssue, 'hh:mm')}"> text</small>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul th:each="coupon : ${patient.couponToSeeADoctors}">
                                <li th:text="${coupon.numberOfCoupon}"></li>
                            </ul>
                        </td>
                        <td>
                            <ul th:each="coupon : ${patient.couponToSeeADoctors}">
                                <li th:text="${coupon.doctor.fio}"></li>
                            </ul>
                        </td>
                        <td>
                            <ul th:each="coupon : ${patient.couponToSeeADoctors}">
                                <li th:text="${coupon.doctor.position}"></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
</body>
</html>